html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body {
    background: #1d3557
}

/* APP */
#app {
    text-align: center;
    color: #f1faee
}

#app .app-title {
    margin: 2.5rem;
}

/* SEARCH BAR */
#search-container {
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    justify-content: center;
}

#search-bar {
    padding: .75rem;
    width: 60%;
    border: transparent;
}

/* BUTTONS */
.button {
    width: fit-content;
    height: 2.75rem;
    padding: .75rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: #f1faee;
    border: transparent;
    cursor: pointer;
}

.button.search-button {
    margin-left: .25rem;
}

#repos-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#repos-button-wrapper small span {
    color: #e63946;
}

.button.repos-button {
    margin: 1.25rem 1.25rem .5rem 1.25rem;
}

/* PROFILE AVATAR */
#profile-avatar {
    display: block;
    width: 200px;
    height: auto;
    margin: 2rem auto;
    border-radius: 50%;
}

/* GITHUB PROFILE LINK */
#profile-link {
    font-size: 1.25rem;
    color: #e63946;
}

#profile-link:hover {
    color: #f1faee;
}

/* PROFILE DATA */
#profile-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 4rem;
}

#profile-info span,
#github-stats span {
    color: #e63946;

}

/* REPOSITORIES DATA */
#repos-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #f1faee;
}

.repo-container {
    margin: 1rem auto;
    padding: 1.25rem;
    width: 400px;
    background-color: #e63946;
}

.repo-container span {
    color: #1d3557;
    font-weight: 600;
}

.repo-container a {
    color: #1d3557;
}

.repo-container a:hover {
    color: #f1faee;
}

.repo-container p {
    word-wrap: break-word;
}

/* ERROR */
.error {
    color: #fd0000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #profile-data {
        flex-direction: column;
    }

    .repo-container {
        max-width: 200px;
    }
}